{% include base_path %}

<!-- start custom head snippets -->
<style>
  /* Color normal de los enlaces */
  a {
    color: #006bb3 !important; 
  }
  
  /* Color cuando pasas el ratón por encima (Hover) */
  a:hover {
    color: #ff5722 !important;
  }

 /* === MODO NOCHE AUTOMÁTICO === */
  @media (prefers-color-scheme: dark) {
    
    /* Color de los enlaces en la oscuridad */
    a {
      color: #66b3ff !important; /* Un azul más claro/brillante para que contraste bien sobre fondo oscuro */
    }
    
    /* Color al pasar el ratón en la oscuridad */
    a:hover {
      color: #ffb74d !important; /* Un naranja más suave o pastel para que no sature la vista de noche */
    }
    
  }
</style>
</style>
<!-- Support for Academicons -->
<link rel="preload" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css"></noscript>

<!-- Support for Font Awesome -->
 <link rel="preload" href="{{ base_path }}/assets/css/fontawesome.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ base_path }}/assets/css/fontawesome.css"></noscript>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="var(--global-bg-color)"/>

<!-- end custom head snippets -->
